<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="AAD.TenantId" value="2b11f186-e6bc-48a7-8949-9667fcaa25fd"/>
    <add key="AAD.ClientId" value="fd58eebd-cef7-4adb-add1-82dfb21e2387"/>
    <add key="AAD.ClientSecret" value="P=PqN02=dsfC-H9:SXAiARgnAl1@pOst"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>
